header {
  height: 60px;
  position: sticky;
  top: 0px;
  background-color: rgb(113, 113, 113);
  z-index: 1000;
}

/* left side */
.logo {
  flex: 1;
  text-align: left;
}

/* right side */
nav {
  width: 80%;
  height: 100%;
}

.nav-link {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.nav-link a {
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 0;
  padding: 1% 2%;
}

.nav-link a:hover {
  border-bottom: solid 2px red;
}

.content-section {
  z-index: 1;
  margin-top: 60px;
}

.contact-info {
  display: inline-flex;
  gap: 20px;
}

.contact-info a {
  text-transform: none;
  font-size: 1rem;
  color: white;
}

.contact-info a:nth-child(2) {
  margin-left: 10px;
}

/* #nav-check,
.nav-btn {
  display: none;
} */

/* hamburger button */
/* .nav-btn span {
  display: block;
  background-color: white;
  width: 30px;
  height: 3px;
  margin: 6px auto;
} */
