.image-row {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

.image-container {
  flex: 1;
  text-align: center;
  padding: 20px;
  height: 200px;
}

.image-container img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.project-section p {
  max-width: 800px;
}

.github-link {
  margin-top: 20px;
  background-color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

.github-link a {
  color: black;
}

.github-link:hover {
  background-color: lightgrey;
}

.netlify-link {
  background-color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

.netlify-link a {
  color: black;
}

.netlify-link:hover {
  background-color: lightgrey;
}
